@using MLApplication_frontend.Components.Buttons
@inject ILogger<ResultsNavigationButtonGroup> Logger

<div class="generational-learning-page-side-nav-group__item">
    <CascadingValue name="ButtonData" Value="@ButtonDataInstances.Find(instance => instance.ButtonID == "AlphaAgentsContent")">
        <SideNavigationButton UpdatedSelectedButtons="@UpdateButtonState" />
    </CascadingValue>
</div>
<div class="generational-learning-page-side-nav-group__item">
    <CascadingValue name="ButtonData" Value="@ButtonDataInstances.Find(instance => instance.ButtonID == "GenerationsContent")">
        <SideNavigationButton UpdatedSelectedButtons="@UpdateButtonState" />
    </CascadingValue>
</div>
<div class="generational-learning-page-side-nav-group__item">
    <CascadingValue name="ButtonData" Value="@ButtonDataInstances.Find(instance => instance.ButtonID == "AllAgentsContent")">
        <SideNavigationButton UpdatedSelectedButtons="@UpdateButtonState" />
    </CascadingValue>
</div>

   