@using MLApplication_frontend.Components.Buttons
@inject ILogger<GenerationalLearning_Results> Logger


<div class="button-group_container">
    <div class="button-group_element">
        <CascadingValue name="ButtonData" Value="@ButtonDataInstances.Find(instance => instance.ButtonID == "AlphaAgentsContent")">
            <SideNavigationButton UpdatedSelectedButtons="@UpdateButtonState" />
        </CascadingValue>
    </div>
    <div class="button-group_element">
        <CascadingValue name="ButtonData" Value="@ButtonDataInstances.Find(instance => instance.ButtonID == "GenerationsContent")">
            <SideNavigationButton UpdatedSelectedButtons="@UpdateButtonState" />
        </CascadingValue>
    </div>
    <div class="button-group_element">
        <CascadingValue name="ButtonData" Value="@ButtonDataInstances.Find(instance => instance.ButtonID == "AllAgentsContent")">
            <SideNavigationButton UpdatedSelectedButtons="@UpdateButtonState" />
        </CascadingValue>
    </div>
</div>