@inject InstanceAttributeStateContainer stateContainer
@inject ILogger<EnvironmentPanelContent> Logger
@using MLApplication_frontend.Components.Buttons

<div class="side-navigation-panel__content-container">

    <div class="side-navigation-panel__title">Maze Size</div>


    <div class="side-navigation-panel__sub-headding">Environment Dimensions</div>

    <div class="page_element">
    <label for="environment-dimension-X">Environment dimension X</label>

    <select @bind="@EnvironmentDimension_X" class="page_element__dropdown" id="environment-dimension-X">
        @foreach (var dimension in AvailableEnvironmentDimensions)
            {
            <option value="@dimension">@dimension</option>
            }
        </select>

    </div>

    <div class="page_element">
    <label for="environment-dimension-Y">Environment dimension Y</label>

    <select @bind="@EnvironmentDimension_Y" class="page_element__dropdown" id="environment-dimension-Y">
        @foreach (var dimension in AvailableEnvironmentDimensions)
            {
            <option value="@dimension">@dimension</option>
            }
        </select>

    </div>

    <div class="side-navigation-panel__sub-headding">Node Selection</div>

    
    <div class="page_element">
        
        <div class="page_element__button-group">

            <div class="page_element__button-group__button">
                @EnvironemntButtonSVGs.StartIcon_svg
            </div>
            <div class="page_element__button-group__button">
                @EnvironemntButtonSVGs.GoalIcon_svg
            </div>
            <div class="page_element__button-group__button">
                @EnvironemntButtonSVGs.ObsticalIcon_svg
            </div>
            <div class="page_element__button-group__button">
                @EnvironemntButtonSVGs.EmptyIcon_svg
            </div>

        </div>
    </div>

    

</div>




