@inject Services.InstanceAttributeStateContainer stateContainer
@inject ILogger<EnvironmentPanelContent> Logger
@using MLApplication_frontend.Components.Buttons
@using MLApplication_frontend.Components.Buttons.ButtonGroups

<div class="side-navigation-panel__content-container">

    <div class="side-navigation-panel__title">Maze Size</div>


    <div class="side-navigation-panel__sub-headding">Environment Dimensions</div>

    <div class="page_element">
    <label for="environment-dimension-X">Environment dimension X</label>

    <select @bind="@EnvironmentDimension_X" class="page_element__dropdown" id="environment-dimension-X">
        @foreach (var dimension in AvailableEnvironmentDimensions)
            {
            <option value="@dimension">@dimension</option>
            }
        </select>

    </div>

    <div class="page_element">
    <label for="environment-dimension-Y">Environment dimension Y</label>

    <select @bind="@EnvironmentDimension_Y" class="page_element__dropdown" id="environment-dimension-Y">
        @foreach (var dimension in AvailableEnvironmentDimensions)
            {
            <option value="@dimension">@dimension</option>
            }
        </select>

    </div>

    <div class="side-navigation-panel__sub-headding">Node Selection</div>

    
    <div class="page_element">
        <GenerationalLearning_EnvironmentButtonBlock ButtonPressed_callback="@UpdateEnvironmentNodeTypeSelector" />
    </div>
</div>




