@inject Services.InstanceAttributeStateContainer stateContainer
@inject ILogger<InstanceInformationPanelContent> Logger

<div class="side-navigation-panel__content-container">

    <div class="side-navigation-panel__title">Instance Data</div>

    <div class="side-navigation-panel__sub-headding">Hyper Parameters</div>

    <div class="page_element">
        <label > Instance Name:</Label>
        <div class="page_element__element-data">@stateContainer.InstanceName</div>
    </div>

    <div class="page_element">
        <label > Number of Generations:</Label>
        <div class="page_element__element-data">@stateContainer.NumberOfGenerations</div>
    </div>

    <div class="page_element">
        <label > Agents per Generation:</Label>
        <div class="page_element__element-data">@stateContainer.AgentsPerGeneration</div>
    </div>

    <div class="page_element">
        <label > Fitness Threshold:</Label>
        <div class="page_element__element-data">@stateContainer.StartingFitnessThreshold</div>
    </div>


    <div class="side-navigation-panel__sub-headding">Weight Initialization</div>

    <div class="page_element">
        <label>Hidden Layer:</Label>
        <div class="page_element__element-data">@stateContainer.HiddenLayerWeightInit</div>
    </div>

    <div class="page_element">
        <label>Output Layer: </Label>
        <div class="page_element__element-data">@stateContainer.OutputLayerWeightInit</div>
    </div>

    <div class="side-navigation-panel__sub-headding">Activation Functions</div>

    <div class="page_element">
        <label >Hidden Layer: </Label>
        <div class="page_element__element-data">@stateContainer.HiddenLayerActivationFunction</div>
    </div>

    <div class="page_element">
        <label >Output Layer: </Label>
        <div class="page_element__element-data">@stateContainer.OutputLayerActivationFunction</div>
    </div>

    <div class="side-navigation-panel__sub-headding">Generation Amalgimation</div>

    <div class="page_element">
        <label >Amalgimation Function: </Label>
        <div class="page_element__element-data">@stateContainer.NewGenerationCreationFunction</div>
    </div>

    <div class="side-navigation-panel__sub-headding">Raw Environment data</div>

        <div class="page_element">

        <label >Environment Dimension X:</Label>
        <div class="page_element__element-data">@stateContainer.EnvironmentDimension_X</div>

        <label >Environment Dimension Y:</Label>
        <div class="page_element__element-data">@stateContainer.EnvironmentDimension_Y</div>

        <label >Environment Data</Label>
        <div class="page_element__element-data">
            @foreach (int value in @stateContainer.EnvironmentNodeStateData)
            {
                @value 
            }
        </div>
    
    </div>

</div>


        